@model Aunt_Irma_Shop.Models.Item

@{
    ViewData["Title"] = "Details";
}



<div>
    
    <div class="row">
        <div class="col-md-3 col-8 offset-2 offset-md-0">
            @if (Model.Picture == null)
            {

                <img src="~/images/AuntIrmaLogo.JPEG" style="max-height:100%; width:100%;" />
            }
            else
            {
                var base64 = Convert.ToBase64String(Model.Picture);
                var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);

                <img src="@imgsrc" style="max-height:100%; width:100%;" />
            }
        </div>
        <div class="col-md-7 offset-md-1 col-sm-12 float-right">
            <h3>@Html.DisplayFor(model => model.Name)</h3>
            @Html.Raw(Model.Description)
        </div>
    </div>
    <div class="row">
        <label for="price" class="col-2 offset-8">
            @Html.DisplayNameFor(model => model.Price)
        </label>
        <div name="price" class="col-2">
            @Html.DisplayFor(model => model.Price)
        </div>
    </div>



  

</div>
<div class="row">
    <input type="number" value="1" class="form-control col-1 offset-6" min="1"/>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success col-2 ">Add To Basket</a> 
    <a asp-action="Index" class="btn btn-primary col-2">Back to List</a>
</div>
@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist",
            menubar: 'file edit format',
            readonly: 1
        });</script>
    <script>tinymce.init({ selector: 'textarea' });</script>

}